* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.Container {
    width: 1230px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}